body{
    margin:0;
    padding:0;
    background-image: linear-gradient(to right, #ffffff, #f5f9ff, #e3f6ff, #cef3fa, #bff0ea, #b7ece3, #b0e8db, #aae4d2, #9ee0da, #96dbe1, #94d5e6, #97cee9);
    //background-image: radial-gradient(circle, #ffffff, #f5f9ff, #e3f6ff, #cef3fa, #bff0ea, #b7ece3, #b0e8db, #aae4d2, #9ee0da, #96dbe1, #94d5e6, #97cee9);
}
html{
    margin:0;
    padding:0;
    font-size:10px;
}
